TetrisServer/myfiles/logEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EventGUI">
		<xs:complexType>
			<xs:all>
				<xs:element name="appName" type="xs:string"/>
				<xs:element name="ipClient" type="xs:string"/>
				<xs:element name="timestamp" type="xs:string"/>
				<xs:element name="label" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
 </xs:schema>